@font-face {
    font-family: 'Algerian';
    src:  url('/Users/jehaff/death_star/Jimbojones1.github.io/project1/style/Algerian.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'KGSecondChancesSketch';
    src:  url('/Users/jehaff/death_star/Jimbojones1.github.io/project1/style/KGSecondChancesSketch.ttf');
    font-style: normal;
}
//phone wrappers
$wrapper-phone:  85%;
$wrapper-tablet:  90%;
$wrapper-laptop: 960px;

//devices
$device-phone:  320px;
$device-tablet:  700px;
$device-laptop:  1200px;

body {
  max-width:  $device-laptop;
  margin: 0;
}

#wrapper {
  background-image: url("http://www.zingerbugimages.com/backgrounds/lime_green_painted_brick_wall.jpg");
  /*background-size: cover;*/
  background-size: cover;
  margin:  0 auto;
  width: 100%;
  height:  900px;
  overflow: hidden;
}


section {
  width:  65%;
  float:  right;
  height:  900px;
}

h1 {
  font-family: Algerian;
  text-align: center;
  margin: 0;
}

.pictures {
  width:  78%;
  height:  80%;
  margin: 0 auto;
  animation-duration: 3000;
  padding-top: 20%;
}

.pictures img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #cde364;
	border-top: 3px dotted #000;
	border-bottom: 3px dotted #000;
	box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
	margin-bottom: 1px;
}


aside {
  float: left;
  background-image: url("/Users/jehaff/death_star/Jimbojones1.github.io/project1/style/chalkboard-black.jpg");
  width: 27%;
  height:  900px;
  margin-bottom: 10px;
  font-family: KGSecondChancesSketch;
}

.container {
  width: 95%;
  height: 200px;
  z-index: 1;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container img {
  width:  100%;
  height: auto;
  vertical-align: middle;

}
nav {
  margin-top: 70px;
}
nav li{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: Algerian;
  font-size: 2em;
  }

nav li a{
  text-decoration: none;
  vertical-align: middle;
  color: rgb(244, 244, 240);
}



a:hover {
  color: rgb(188, 223, 138);
  text-decoration: underline overline;
}

#map-canvas {
   width: 90%;
   height: 200px;
   background-color: #CCC;
   border: 3px solid #bcdf8a;
}

@media (min-width: 660px) {
  #wrapper {
    width:  90%;
  }
    nav li {
      font-size: 1em;
    }
  }
@media (min-width:  960px) {
    #wrapper {
      width:  100%;
    }
    nav li {
      font-size: 2em;
    }
}
